<nav class="navbar fixed-top navbar-dark bg-dark">
  <div class="navbar-text">
    <span class="text-light">KEEEB</span>
  </div>
</nav>

<div class="container">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">{{"login.email" | translate}}</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">{{"login.password" | translate}}</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">{{"login.rememberMe" | translate}}</label>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">{{"login.loginNow" | translate}}</button>
  </form>
</div>
